services:

    #1. Flask
    web-app:
        build: ${APP_CONTEXT:-./app}
        image: ${APP_IMAGE:-webapp:latest}
        ports:
            - "5000:5000"
        networks:
            - qa-network

    #2. Selenium
    selenium-hub:
        image: selenium/standalone-chrome:latest
        ports:
            - "4444:4444"
        shm_size: "2gb"
        networks:
            - qa-network

    #3. Test Runner
    test-runner:
        image: python:3.12.6
        volumes:
            - ./tests:/tests
            - ${APP_CONTEXT:-./app}:/app
        environment:
            - PYTHONPATH=/app
        working_dir: /tests
        command: >
            sh -c "pip install -r requirements.txt -r /app/requirements.txt &&
                   echo 'Corriendo test...' &&
                   sleep 5 &&
                   pytest -v --md-report --md-report-output=test_report.md"
        depends_on:
            - web-app
            - selenium-hub
        networks:
            - qa-network
networks:
    qa-network:
